<h1>Listing invoices</h1>
<table>
  <tr>
    <th>Invoice Number</th>
    <th>Amount</th>
  </tr>
 
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.invoice_number %></td>
      <td><%= invoice.amount %></td>
      <td><%= link_to 'Show', invoice_path(invoice) %></td>
      <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
      <td><%= link_to 'Destroy', invoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>