<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Items</h2>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Add an Item:</h2>
<%= render 'items/form' %>

<button><%= link_to 'Back', categories_path %></button>
<button><%= link_to 'Edit', edit_category_path(@category) %></button>
